# Server Configuration
PORT=5000
FRONTEND_URL=https://document-system-5wnk.onrender.com

# Database
MONGODB_URI=mongodb+srv://kumarkuldeep56000_db_user:Gxdf0lQTEsVwcJSW@cluster0.wweiy73.mongodb.net/document-system

# Redis (for queue management)
REDIS_URL=redis://127.0.0.1:6379

# File Upload
UPLOAD_DIR=uploads/

# Environment
NODE_ENV=development

#Gxdf0lQTEsVwcJSW
#kumarkuldeep56000_db_user
